{
 :lang :mubi
 :subfamily "EastChiadic"
 :sgpref "mub"
 :datasource "Jungraithmayr2013"
 :datasourceNotes ""
 :geodemoURL "http://www.ethnologue.com/language/"
 :geodemoTXT "Southwestern Chad, Batha region: widespread; Guéra region: Guéra department, Mangalmé subprefecture, 135 villages in Mangalmé area. About 35.300 speakers (1993 census)."
 :schemata {
            }
 :pclass {:pngClass [:person :number :gender],
          :synsemClass [:case :defClass :deixis :derivedStem :derivedStemAug :participle :polarity :pos :proClass :tam],
          :inflClass [:conjClass :pluralClass :postpositionClass :rootClass],
          :otherClass []}
 :lexemes {
           }
 :termclusters [

                {:label "Finite_Verb_Paradigms_to_be_added"
                 :note ""
                 :common {:vmorpheme :FiniteToBeAdded
                          :pos :Verb,
                          ;; needs :person and one other prop to pass muster
                          :person :To_be_added
                          :tam :To_be_added}
                 :terms [[:token],
                         [  "not attested"]]
                 }
                {:label "hausa-PInd"
                 :note "This is the independent non-subject. The weak subject combines with the TAM marker. Newman2000, 476"
                 :common {:pos :Pronoun, 
                          :pmorphClass :ProMorph,
                          :case :Subject
                          :proClass :Independent}
                 :terms [[:number :person :gender :token],
                         [:Singular :Person1 :Common "ndé	ní
kám	ká
kín	kí
ár	à
tír	dì
áná~éné	á
kéné	ká(n)
kér	kà
"],
                         [:Singular :Person2 :Masc "kai"],
                         [:Singular :Person2 :Fem "ke:"],
                         [:Singular :Person3 :Masc "ʃi:"],
                         [:Singular :Person3 :Fem "ita"],
                         [:Plural :Person1 :Common "mu:"],
                         [:Plural :Person2 :Common "ku:"],
                         [:Plural :Person2 :Common "su:"]]
                 }
                {:label "hausa-PObj"
                 :note "This is the strong object. Newman2000, 487"
                 :common {:pos :Pronoun, 
                          :pmorphClass :ProMorph,
                          :case :Subject
                          :proClass :Independent}
                 :terms [[:number :person :gender :token],
                         :terms [[:number :person :gender :token],
                                 [:Singular :Person1 :Common "ni"],
                                 [:Singular :Person2 :Masc "ka"],
                                 [:Singular :Person2 :Fem "ki"],
                                 [:Singular :Person3 :Masc "ʃi"],
                                 [:Singular :Person3 :Fem "ta"],
                                 [:Plural :Person1 :Common "mu"],
                                 [:Plural :Person2 :Common "ku"],
                                 [:Plural :Person2 :Common "su"]]
                         }
                 ]
                }

